<!-- templates/stocks/stock_history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock History for {{ symbol }}</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/stock.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f4f4f9;
            color: #333;
        }
        header {
            width: 100%;
            padding: 20px;
            background-color: #2c3e50;
            color: #ecf0f1;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        header h1 {
            margin: 0;
            font-weight: 700;
            font-size: 2em;
        }
        main {
            flex: 1;
            width: 100%;
            max-width: 1200px;
            padding: 20px;
            box-sizing: border-box;
        }
        #chartdiv {
            width: 100%;
            height: 500px;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .back-link {
            display: inline-block;
            margin: 20px 0;
            text-decoration: none;
            color: #3498db;
            font-weight: 700;
        }
        .back-link i {
            margin-right: 8px;
        }
    </style>
</head>
<body>
    <h1>Stock History for {{ symbol }}</h1>
    <div id="chartdiv" style="width: 80%; height: 500px;"></div>
    <script id="stock-data" type="application/json">
        {{ stock_history|safe }}
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var stockData = document.getElementById('stock-data').textContent
            // Replace single-quoted values with double-quoted values
            stockData = stockData.replace(/([{,]\s*)'([^']+)'\s*:/g, '$1"$2":');
            stockData = stockData.replace(/:\s*'([^']+)'/g, ': "$1"');
            stockData = JSON.parse((stockData))
            
            // Need the following code, dont know why
            let indexedStockData = {};
            stockData.forEach((item, index) => {
                indexedStockData[index] = item;
            });
            stockData = stockData.map(entry => ({
                date: new Date(entry.date),
                open: entry.open,
                high: entry.high,
                low: entry.low,
                close: entry.close,
                volume: entry.volume
            }));
            // Reverse the data since it needs to be ascending or else weird behavior with zoom
            stockData.reverse()
            console.log("Processed stockData:", stockData);

            var root = am5.Root.new("chartdiv");
            
            // Set themes
            // const myTheme = am5.Theme.new(root);
            // myTheme.rule("Grid", ["scrollbar", "minor"]).setAll({
            //     visible:false
            // });
            root.setThemes([
                am5themes_Animated.new(root),
                // myTheme
            ]);

            var stockChart = root.container.children.push(
                am5stock.StockChart.new(root, {})
            );
            var mainPanel = stockChart.panels.push(am5stock.StockPanel.new(root, {
                wheelY: "zoomX",
                wheelX: "panX",
                pinchZoomX: true,
                panX: true,
                panY: true,
                paddingTop: 40,
            }));



            // Create chart
            // var chart = root.container.children.push(am5xy.XYChart.new(root, {
            //     layout: root.verticalLayout,
            //     panX: true,
            //     panY: true,
            //     wheelX: "panX",
            //     wheelY: "zoomX",
            //     pinchZoomX: true,
            //     paddingTop: 40,
            //     height: am5.percent(100)
            // }));

            var xRenderer = am5xy.AxisRendererX.new(root, {
                pan: "zoom",
                // minorGridEnabled: true,
            });
            xRenderer.labels.template.setAll({
                minPosition: 0.01,
                maxPosition: 0.99
            });

            var dateAxis = mainPanel.xAxes.push(am5xy.GaplessDateAxis.new(root, {
                maxDeviation: 0.2,
                baseInterval: { timeUnit: "day", count: 1 },
                renderer: xRenderer,
                tooltip: am5.Tooltip.new(root, {}),
                // groupData: true,
                skipEmptyPeriods: true,
            }));

            var yAxisRenderer = am5xy.AxisRendererY.new(root, {
                pan: "zoom"
            });
            yAxisRenderer.labels.template.setAll({
                centerY: am5.percent(100),
                maxPosition: 0.98
            });
            var valueAxis = mainPanel.yAxes.push(am5xy.ValueAxis.new(root, {
                renderer: yAxisRenderer,
                tooltip: am5.Tooltip.new(root, {}),
                numberFormat: "#,###.00",
                extraTooltipPrecision: 2
            }));
            dateAxis.get("renderer").grid.template.setAll({
                stroke: am5.color(0xd0d0d0),
                strokeWidth: 1,
                strokeOpacity: 0.5
            });

            valueAxis.get("renderer").grid.template.setAll({
                stroke: am5.color(0xd0d0d0),
                strokeWidth: 1,
                strokeOpacity: 0.5
            });

            valueAxis.axisHeader.children.push(am5.Label.new(root, {
                text: "Value",
                fontWeight: "bold",
                paddingBottom: 5,
                paddingTop: 20
            }));

            var color = root.interfaceColors.get("background");
            var candleSeries = mainPanel.series.push(
                am5xy.CandlestickSeries.new(root, {
                    fill: color,
                    clustered: false,
                    calculateAggregates: true,
                    stroke: color,
                    name: '{{ ticker }}',
                    xAxis: dateAxis,
                    yAxis: valueAxis,
                    valueYField: "close",
                    openValueYField: "open",
                    lowValueYField: "low",
                    highValueYField: "high",
                    valueXField: "date",
                    lowValueYGrouped: "low",
                    highValueYGrouped: "high",
                    openValueYGrouped: "open",
                    valueYGrouped: "close",
                    // legendValueText: "{valueY}",
                    legendValueText: "open: {openValueY} low: {lowValueY} high: {highValueY} close: {valueY}",
                    legendRangeValueText: "{valueYClose}"
                })
                );
            // var candleTooltip = candleSeries.set("tooltip", am5.Tooltip.new(root, {
            //     getFillFromSprite: false,
            //     getStrokeFromSprite: true,
            //     getLabelFillFromSprite: true,
            //     autoTextColor: false,
            //     pointerOrientation: "horizontal",
            //     labelText: "{name}: {valueYField} {valueYChangePreviousPercent.formatNumber('[#00ff00]+#,###.##|[#ff0000]#,###.##|[#999999]0')}%"
            // }));
            // candleTooltip.get("background").set("fill", root.interfaceColors.get("background"));
            
            // var legend = mainPanel.children.push(am5.Legend.new(root, {
            //     centerX: am5.percent(50),
            //     x: am5.percent(50)
            // }));
            // legend.data.setAll(mainPanel.series.values);

            candleSeries.data.processor = am5.DataProcessor.new(root, {
                dateFields: ["date"],
                dateFormat: "yyyy-MM-dd"
            });
            stockChart.set("stockSeries", candleSeries);

            var valueLegend = mainPanel.plotContainer.children.push(am5stock.StockLegend.new(root, {
                stockChart: stockChart
            }));
            valueLegend.data.setAll([candleSeries]);

            candleSeries.data.setAll(stockData);

            // Add scrollbar
            // chart.set("scrollbarX", am5.Scrollbar.new(root, {
            //     orientation: "horizontal"
            // }));
            mainPanel.set("cursor", am5xy.XYCursor.new(root, {
                yAxis: valueAxis,
                xAxis: dateAxis,
                snapToSeries: [candleSeries],
                snapToSeriesBy: "y!"
            }));

            var volumePanel = stockChart.panels.push(am5stock.StockPanel.new(root, {
                wheelY: "zoomX",
                panX: true,
                panY: true,
                height: am5.percent(30)
            }));

            // hide Close button as we don't want to allow users to turn off this panel
            volumePanel.panelControls.closeButton.set("forceHidden", true);


            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var volumeValueAxis = volumePanel.yAxes.push(am5xy.ValueAxis.new(root, {
                numberFormat: "#.#a",
                renderer: am5xy.AxisRendererY.new(root, {
                    pan: "zoom"
                })
            }));

            var volumeDateAxis = volumePanel.xAxes.push(am5xy.GaplessDateAxis.new(root, {
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {}),
                tooltip: am5.Tooltip.new(root, {
                    forceHidden: true
            })
            }));

            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var volumeSeries = volumePanel.series.push(am5xy.ColumnSeries.new(root, {
            name: "{{ticker}}",
            valueXField: "date",
            valueYField: "volume",
            xAxis: volumeDateAxis,
            yAxis: volumeValueAxis,
            legendValueText: "{valueY.formatNumber('#,###')}"
            }));


            volumeSeries.columns.template.set("strokeOpacity", 0);

            // color columns by stock rules
            volumeSeries.columns.template.adapters.add("fill", function(fill, target) {
            var dataItem = target.dataItem;
            if (dataItem) {
                return stockChart.getVolumeColor(dataItem);
            }
            return fill;
            })
            
            var volumeCursor = volumePanel.set("cursor", am5xy.XYCursor.new(root, {
                yAxis: volumeValueAxis,
                xAxis: volumeDateAxis,
                snapToSeries: [volumeSeries],
                snapToSeriesBy: "y!"
            }));

            volumeCursor.lineY.set("forceHidden", true);
            // Set main value series
            // https://www.amcharts.com/docs/v5/charts/stock-chart/#Setting_main_series
            stockChart.set("volumeSeries", volumeSeries);


            // Add a stock legend
            // https://www.amcharts.com/docs/v5/charts/stock-chart/stock-legend/
            var volumeLegend = volumePanel.plotContainer.children.push(am5stock.StockLegend.new(root, {
                stockChart: stockChart
            }));
            volumeLegend.data.setAll([volumeSeries]);

            volumeSeries.data.setAll(stockData);

            // Make stuff animate on load
            candleSeries.appear(1000);
            mainPanel.appear(1000, 100);
        });
    </script>
    <a href="{% url 'stock_list' %}">Back to stock list</a>
</body>
</html>